html
  head
    title Salúdame 3
  body
    form(method='POST' action='/')
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='name' name='name')
        button.btn.btn-primary(type='submit') Enviar