html
  head
    title users
  body
    main
      .container              
      table.table
        thead
          th Name
          th email
        each user in users
          tr
            td #{user.name}
            td #{user.email}
      if msgs
        each msg in msgs
          p #{msg.msg}
          